*~
*.o
*.lo
*.la
*.so
*.log
*.pyc
*.trs
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
test-driver
autom4te.cache
TAGS

neard.pc
include/near
include/version.h
src/builtin.h
src/neard
src/neard.service
se/builtin.h
se/seeld
tools/nciattach
tools/snep-send
tools/nfctool/nfctool
unit/test-ndef
unit/test-ndef-parse
unit/test-ndef-build
unit/test-snep-read
